<!-- anonymous-signup.html -->
  <div class="padding">
    <h3 class="text-center">Hello There</h3>
    <p>You are currently <span class="username badge badge-positive capitalize padding"><i class="icon ion-person">&nbsp; Anonymous</i></span></p>
    <p ng-if="device.isDevice">You are welcome to continue - but beware that all your data will be lost when you delete the app.</p>
    <p ng-if="device.isBrowser">You are welcome to continue - but beware that all your data will be lost when you delete your browser cookies.</p>
    <p>If you would like us to call you something else, why not sign-up with a clever username?</p>
  </div>
